@import "/css/reset.css";

html{
    font-size: 100vw / 1920 * 10;
}

body{
    color: #000;
    background-color: #F8F9FF;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*header*/

.header-container {
    max-width: 1280px; 
    margin: 0 auto;
    padding: 0 3.125rem;
}

header{
    padding-top: 1.3rem;
    margin-bottom: 7.5rem;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px 0;
}

.logo-text{
    font-family: "Poppins", sans-serif;
    font-size: 21px;
}

.logo-text.bold {
    font-weight: 700;
}

.logo-text.medium {
    font-weight: 500;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    column-gap: 1.25rem;
}

.nav-links li:nth-child(1) a {
    margin-right: 3.1rem; /* отступ между Contact и How it works */
}

.nav-links  li  a {
    font-weight: 600;
}

.nav-links li:nth-child(-n+2) a {
    color: #009379;
}

.btn {
    padding: 1.1rem 3.1rem;
    text-align: center;
    border-radius: 20px;
}
.btn-light-green {
    background: #E5F4F2;
}
.btn-green {
    background: #009379;
    color: #fff;
    display: flex;
    align-content: center;
    column-gap: 0.5rem;
}

/*hero*/
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 55px;
}
.hero {
    margin-bottom: 3.75rem;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    column-gap: 3.75rem;
}

.hero-text{
    max-width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.hero-title {
    font-family: "Poppins", sans-serif;
    font-size: 4.18rem;
    font-weight: 700;
    letter-spacing: -2.5%;
    line-height: 130%;
    margin-bottom: 1.25rem;
}
.color-text {
    color: #3366FF;
}

.hero-text p{
    font-size: 1.3rem;
    line-height: 150%;
    margin-bottom: 2.5rem;
}

.buttons{
    display: flex;
    column-gap: 1.1rem;
    align-items: center;
}

.btn-white {
    background: #fff;
    border: #009379 1px solid;
    color: #009379;
}
.hero-image img {
    width: 100%;
    height: auto;
}

.clients {
    padding: 3.8rem 0;
    margin-bottom: 7.5rem;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.8rem 0;
    border-top: #D8D8D8 1px solid;
    border-bottom: #D8D8D8 1px solid;
}

.client {
    max-width: 100%;
}